@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css */
@font-face {
     font-family: 'YekanBakh';
     font-weight: 900;
     src: url('./assets/fonts/yekan/YekanBakh-ExtraBlack.woff2') format('woff2'),
          url('./assets/fonts/yekan/YekanBakh-ExtraBlack.woff') format('woff');
 }
 
 @font-face {
     font-family: 'YekanBakh';
     font-weight: 800;
     src: url('./assets/fonts/yekan/YekanBakh-ExtraBold.woff2') format('woff2'),
          url('./assets/fonts/yekan/YekanBakh-ExtraBold.woff') format('woff');
 }
 
 @font-face {
     font-family: 'YekanBakh';
     font-weight: 700;
     src: url('./assets/fonts/yekan/YekanBakh-Bold.woff2') format('woff2'),
          url('./assets/fonts/yekan/YekanBakh-Bold.woff') format('woff');
 }
 
 @font-face {
     font-family: 'YekanBakh';
     font-weight: 600;
     src: url('./assets/fonts/yekan/YekanBakh-SemiBold.woff2') format('woff2'),
          url('./assets/fonts/yekan/YekanBakh-SemiBold.woff') format('woff');
 }
 
 @font-face {
     font-family: 'YekanBakh';
     font-weight: 400;
     src: url('./assets/fonts/yekan/YekanBakh-Regular.woff2') format('woff2'),
          url('./assets/fonts/yekan/YekanBakh-Regular.woff') format('woff');
 }
 
 @font-face {
     font-family: 'YekanBakh';
     font-weight: 300;
     src: url('./assets/fonts/yekan/YekanBakh-Light.woff2') format('woff2'),
          url('./assets/fonts/yekan/YekanBakh-Light.woff') format('woff');
 }
 
 @font-face {
     font-family: 'YekanBakh';
     font-weight: 200;
     src: url('./assets/fonts/yekan/YekanBakh-Thin.woff2') format('woff2'),
          url('./assets/fonts/yekan/YekanBakh-Thin.woff') format('woff');
 }
 